.App {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.wrapper {
  margin: 100px auto;
  width: 742px;
  background-color: rgb(36, 163, 177);
  padding: 50px 0px;
  color: rgb(36, 163, 177);
}
.box {
  border-radius: 30px;
  width: 88%;
  height: 426px;
  margin: auto;
  background-color: white;
}
.inner-box {
  width: 80%;
  height: 246px;
  margin: auto;
  padding: 30px;
  position: relative;
}
h1 {
  text-align: center;
}
h2 {
  text-align: right;
}
button {
  background-color: rgb(36, 163, 177);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
  position: absolute;
  top: 350px;
}
button:hover {
  color: black;
  background-color: rgb(63, 223, 240);
  transition: 1s ease;
}
.fa-twitter-square {
  font-size: 30px;
  position: absolute;
  top: 350px;
  right: 28px;
}
.twitter {
  display: flex;
  justify-content: space-between;
}

i {
  font-size: 30px;
}
